html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

#product_popup {
    position : fixed;
    left: 0;
    top: 0;
    z-index: 8888;
    display: none;
}

#product_popup > ul {
    position : fixed;
}

#product_popup .button_close {
    position : fixed;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 88px;
}

#product_popup .dim {
    position : fixed;
    width: 1920px;
    height: 980px;
    background: #000000;
    opacity: 60%;
}

#product_popup .bg {
    position : fixed;
    top: 0;
    left: 0;
}

#product_popup .bg_line {
    position : fixed;
    top: -35px;
    left: 0;
}

#product_popup_list_wrap {
    width: 1110px;
    height: 298px;
    position : fixed;
    left: 405px;
    top: 220px;
}

#product_popup_list_01  {
    margin-bottom: 63px;
}

#product_popup_list_01 > li {
    float: left;
    margin-left: 121px;
}

#product_popup_list_01 > li:first-child{
    margin-left: 0;
}

#product_popup_list_02  {
    float: left;
    margin-left: 71px;
    padding-top: 63px;
}

#product_popup_list_02 > li {
    float: left;
    margin-right: 121px;
}

#product_popup_list_02 > li:last-child{
    margin-right: 0;
}

#product_popup_list_03  {
    float: left;
    margin-left: 223px;
    padding-top: 63px;
}

#product_popup_list_03 > li {
    float: left;
    margin-right: 121px;
}

#product_popup_list_03 > li:last-child{
    margin-right: 0;
}
/**product_popup ë**/




#header {}

/**header z-200**/
#header .inner {
    margin: 0 auto;
    position : fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

#header .menu_bg {
    width: 1920px;
    height: 100px;
    background: #ffffff;
}

#header .inner h1 {
    width: 260px;
    height: 26px;
    position : fixed;
    top: 37px;
    left: 88px;
}

#header .inner ul {
    position : fixed;
}

#header .inner div {
    position : fixed;
}

#header .inner .link_w {
    width: 50px;
    height: 50px;
    top: 25px;
    right: 88px;
}

#header .inner .gnb_w {
    top: 0;
    right: 203px;
}

#header .inner .gnb_w > li {
    height: 100px;
    float: left;
    margin-right: 89px;
}

#header .inner .gnb_w > li > a {
    color: #161616;
    position: relative;
}

/*effect-underline*/
a.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 83px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    transform-origin: -100%;
}

a.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#header .inner .gnb_2_w {
    width: 43px;
    height: 26px;
    left: 80px;
    top: 898px;
}

#header .inner .search_w {
    top: 37px;
    left: 403px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    opacity: 90%;
    min-width: 200px;
    padding: 20px 30px 38px 38px;
    padding-bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: "Futura";
    color: #161616;
    line-height: 50px;
    font-size: 15px;
    font-weight: medium;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: #bebebe;}

.dropdown:hover .dropdown-content {display: block;}

/*  header end    */




#product_details_accessories {
    height: 4430px;
}


#product_details_accessories .top_image {
    position: relative;
    top: 100px;
    left: 50%;
    margin-left: -922px;
}

#accessories_image_wrap {
    width: 1441px;
    height: 509px;
    margin: 0 auto;
}

#accessories_list_01 {
    position: absolute;
    top: 694px;
}

#accessories_list_01 > li {
    float: left;
    margin-left: 19px;
}

#accessories_list_01 > li:last-child{
    margin-right: 0;
}

#accessories_font_wrap .font_01 {
    position: absolute;
    width: 1441px;
    top: 1256px;
    left: 250px;

}



#accessories_list_02 {
    position: absolute;
    top: 1440px;
}

#accessories_list_02 > li {
    float: left;
    margin-left: 19px;
}

#accessories_list_02 > li:last-child{
    margin-right: 0;
}

#accessories_font_wrap .font_02 {
    position: absolute;
    top: 2002px;
    left: 250px;
}



#accessories_list_03 {
    position: absolute;
    top: 2186px;
}

#accessories_list_03 > li {
    float: left;
    margin-left: 19px;
}

#accessories_list_03 > li:last-child{
    margin-right: 0;
}

#accessories_font_wrap .font_03 {
    position: absolute;
    top: 2748px;
    left: 250px;
}


#accessories_list_04 {
    position: absolute;
    top: 2932px;
}

#accessories_list_04 > li {
    float: left;
    margin-left: 19px;
}

#accessories_list_04 > li:last-child{
    margin-right: 0;
}

#accessories_font_wrap .font_04 {
    position: absolute;
    top: 3484px;
    left: 250px;
}

#product_details_accessories .more {
    position: absolute;
    top: 3684px;
    left: 913px;
}




#footer{
    position: absolute;
    height: 549px;
    top: 3881px;
}