html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

#product_popup {
    position : fixed;
    left: 0;
    top: 0;
    z-index: 8888;
    display: none;
}

#product_popup > ul {
    position : fixed;
}

#product_popup .button_close {
    position : fixed;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 88px;
}

#product_popup .dim {
    position : fixed;
    width: 1920px;
    height: 980px;
    background: #000000;
    opacity: 60%;
}

#product_popup .bg {
    position : fixed;
    top: 0;
    left: 0;
}

#product_popup .bg_line {
    position : fixed;
    top: -35px;
    left: 0;
}

#product_popup_list_wrap {
    width: 1110px;
    height: 298px;
    position : fixed;
    left: 405px;
    top: 220px;
}

#product_popup_list_01  {
    margin-bottom: 63px;
}

#product_popup_list_01 > li {
    float: left;
    margin-left: 121px;
}

#product_popup_list_01 > li:first-child{
    margin-left: 0;
}

#product_popup_list_02  {
    float: left;
    margin-left: 71px;
    padding-top: 63px;
}

#product_popup_list_02 > li {
    float: left;
    margin-right: 121px;
}

#product_popup_list_02 > li:last-child{
    margin-right: 0;
}

#product_popup_list_03  {
    float: left;
    margin-left: 223px;
    padding-top: 63px;
}

#product_popup_list_03 > li {
    float: left;
    margin-right: 121px;
}

#product_popup_list_03 > li:last-child{
    margin-right: 0;
}
/**product_popup ë**/





#header {}

/**header z-200**/
#header .inner {
    margin: 0 auto;
    position : fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

#header .menu_bg {
    width: 1920px;
    height: 100px;
    background: #ffffff;
}

#header .inner h1 {
    width: 260px;
    height: 26px;
    position : fixed;
    top: 37px;
    left: 88px;
}

#header .inner ul {
    position : fixed;
}

#header .inner div {
    position : fixed;
}

#header .inner .link_w {
    width: 50px;
    height: 50px;
    top: 25px;
    right: 88px;
}

#header .inner .gnb_w {
    top: 0;
    right: 203px;
}

#header .inner .gnb_w > li {
    height: 100px;
    float: left;
    margin-right: 89px;
}

#header .inner .gnb_w > li > a {
    color: #161616;
    position: relative;
}

/*effect-underline*/
a.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 83px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    transform-origin: -100%;
}

a.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#header .inner .gnb_2_w {
    width: 43px;
    height: 26px;
    left: 80px;
    top: 898px;
}

#header .inner .search_w {
    top: 37px;
    left: 403px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    opacity: 90%;
    min-width: 200px;
    padding: 20px 30px 38px 38px;
    padding-bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: "Futura";
    color: #161616;
    line-height: 50px;
    font-size: 15px;
    font-weight: medium;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: #bebebe;}

.dropdown:hover .dropdown-content {display: block;}

/*  header end    */



#fashionshow {
    height: 6179px;
}

#fashionshow .title {
    position: absolute;
    top: 407px;
    left: 158px;
}

#fashionshow .background {
    background: #f2f2f2;
    width: 1920px;
    height: 2551px;
    position: absolute;
    top: 3070px;
}

#fashionshow_content {
    position: relative;
}

#fashionshow_content > div {
    position: absolute;
}

#fashionshow_content .wfw_f_image {
    top: 3384px;
    right: 160px;
}

#fashionshow_content .mfw_w_image {
    top: 4576px;
    left: 320px;
}

#fashionshow_content .wss_s_image {
    top: 811px;
    right: 350px;
}

#fashionshow_content .mss_s_image {
    top: 2131px;
    left: 235px;
}



#fashionshow_content_02 {
    position: relative;
}

#fashionshow_content_02 > div {
    position: absolute;
}

#fashionshow_content_02 .wfw_f {
    top: 3245px;
    right: 68px;
}
#fashionshow_content_02 .mfw_w {
    top: 4466px;
    left: 0;
}
#fashionshow_content_02 .wss_s {
    top: 740px;
    right: 105px;
}
#fashionshow_content_02 .mss_s {
    top: 1991px;
    right: 1436px;
}
/*  fashionshow end   */

#fashionshow_content_name {
    position: relative;
}

#fashionshow_content_name > div {
    position: absolute;
}

#fashionshow_content_name .wfw_name {
    top: 4076px;
    right: 489px;
}
#fashionshow_content_name .mfw_name {
    top: 5327px;
    left: 320px;
}
#fashionshow_content_name .wss_name {
    top: 1799px;
    right: 425px;
}
#fashionshow_content_name .mss_name {
    top: 2822px;
    left: 235px;
}









/*#fashionshow .background {*/
/*    background: #f2f2f2;*/
/*    width: 1920px;*/
/*    height: 2589px;*/
/*    position: absolute;*/
/*    top: 2939px;*/
/*}*/

/*#fashionshow_content {*/
/*    position: relative;*/
/*}*/

/*#fashionshow_content > div {*/
/*    position: absolute;*/
/*}*/

/*#fashionshow_content .wfw_f_image {*/
/*    top: 854px;*/
/*    right: 160px;*/
/*}*/

/*#fashionshow_content .mfw_w_image {*/
/*    top: 1921px;*/
/*    left: 320px;*/
/*}*/

/*#fashionshow_content .wss_s_image {*/
/*    top: 3110px;*/
/*    right: 480px;*/
/*}*/

/*#fashionshow_content .mss_s_image {*/
/*    top: 4534px;*/
/*    left: 160px;*/
/*}*/



/*#fashionshow_content_02 {*/
/*    position: relative;*/
/*}*/

/*#fashionshow_content_02 > div {*/
/*    position: absolute;*/
/*}*/

/*#fashionshow_content_02 .wfw_f {*/
/*    top: 715px;*/
/*    right: 68px;*/
/*}*/
/*#fashionshow_content_02 .mfw_w {*/
/*    top: 1811px;*/
/*    left: 0;*/
/*}*/
/*#fashionshow_content_02 .wss_s {*/
/*    top: 3110px;*/
/*    right: 194px;*/
/*}*/
/*#fashionshow_content_02 .mss_s {*/
/*    top: 4627px;*/
/*    right: 340px;*/
/*}*/
/*!*  fashionshow end   *!*/

/*#fashionshow_content_name {*/
/*    position: relative;*/
/*}*/

/*#fashionshow_content_name > div {*/
/*    position: absolute;*/
/*}*/

/*#fashionshow_content_name .wfw_name {*/
/*    top: 1544px;*/
/*    right: 489px;*/
/*}*/
/*#fashionshow_content_name .mfw_name {*/
/*    top: 2672px;*/
/*    left: 320px;*/
/*}*/
/*#fashionshow_content_name .wss_name {*/
/*    top: 4098px;*/
/*    right: 555px;*/
/*}*/
/*#fashionshow_content_name .mss_name {*/
/*    top: 5225px;*/
/*    left: 159px;*/
/*}*/


#footer{
    position: absolute;
    height: 549px;
    top: 5630px;
}