html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

#product_popup {
    position : fixed;
    left: 0;
    top: 0;
    z-index: 8888;
    display: none;
}

#product_popup > ul {
    position : fixed;
}

#product_popup .button_close {
    position : fixed;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 88px;
}

#product_popup .dim {
    position : fixed;
    width: 1920px;
    height: 980px;
    background: #000000;
    opacity: 60%;
}

#product_popup .bg {
    position : fixed;
    top: 0;
    left: 0;
}

#product_popup .bg_line {
    position : fixed;
    top: -35px;
    left: 0;
}

#product_popup_list_wrap {
    width: 1110px;
    height: 298px;
    position : fixed;
    left: 405px;
    top: 220px;
}

#product_popup_list_01  {
    margin-bottom: 63px;
}

#product_popup_list_01 > li {
    float: left;
    margin-left: 121px;
}

#product_popup_list_01 > li:first-child{
    margin-left: 0;
}

#product_popup_list_02  {
    float: left;
    margin-left: 71px;
    padding-top: 63px;
}

#product_popup_list_02 > li {
    float: left;
    margin-right: 121px;
}

#product_popup_list_02 > li:last-child{
    margin-right: 0;
}

#product_popup_list_03  {
    float: left;
    margin-left: 223px;
    padding-top: 63px;
}

#product_popup_list_03 > li {
    float: left;
    margin-right: 121px;
}

#product_popup_list_03 > li:last-child{
    margin-right: 0;
}
/**product_popup ë**/




#header {}

/**header z-200**/
#header .inner {
    margin: 0 auto;
    position : fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

#header .menu_bg {
    width: 1920px;
    height: 100px;
    background: #ffffff;
}

#header .inner h1 {
    width: 260px;
    height: 26px;
    position : fixed;
    top: 37px;
    left: 88px;
}

#header .inner ul {
    position : fixed;
}

#header .inner div {
    position : fixed;
}

#header .inner .link_w {
    width: 50px;
    height: 50px;
    top: 25px;
    right: 88px;
}

#header .inner .gnb_w {
    top: 0;
    right: 203px;
}

#header .inner .gnb_w > li {
    height: 100px;
    float: left;
    margin-right: 89px;
}

#header .inner .gnb_w > li > a {
    color: #161616;
    position: relative;
}

/*effect-underline*/
a.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 83px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    transform-origin: -100%;
}

a.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#header .inner .gnb_2_w {
    width: 43px;
    height: 26px;
    left: 80px;
    top: 898px;
}

#header .inner .search_w {
    top: 37px;
    left: 403px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    opacity: 90%;
    min-width: 200px;
    padding: 20px 30px 38px 38px;
    padding-bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: "Futura";
    color: #161616;
    line-height: 50px;
    font-size: 15px;
    font-weight: medium;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: #bebebe;}

.dropdown:hover .dropdown-content {display: block;}

/*  header end    */



#collection {
    position: relative;
    height: 2200px;
}

#collection_menu_hover > div{
    width: 1401px;
    height: 980px;
    position: absolute;
    top: 50%;
    margin-top: -490px;
    right: 94px;
    transform: translateY(150px);
    opacity: 0;
    transition: all .8s;
    /*display: none;*/
}

#collection_menu_hover > div.on{
    width: 1401px;
    height: 980px;
    position: fixed;
    top: 50%;
    margin-top: -490px;
    right: 94px;
    opacity: 1;
    transform: translateY(0);
    /*display: none;*/
}

#collection_menu .tropical_rose:hover{
    display: block;
    color: aquamarine;
}

#collection_menu {
    position: relative;
    top: 246px;
}

#collection_menu > div > a{
    width: 1920px;
    float: left;
    text-align: center;
    font-family: "Bodoni 72";
    font-size: 224px;
    color: #161616;
}

#collection_menu > div > a.on{
    width: 1920px;
    float: left;
    text-align: center;
    font-family: "Bodoni 72";
    font-size: 224px;
    color: #e5e5e5;
}

#collection_menu .tropical_rose {
    margin-bottom:36px;
}
#collection_menu .blooming {
    margin-bottom: 26px;
}
#collection_menu .christmas {
    margin-bottom: 30px;
}
#collection_menu .dna {
    margin-bottom: 26px;
}
#collection_menu .summer_vanitas {
    margin-bottom: 46px;
}
#collection_menu .king_age {
    margin-bottom: 51px;
}
#collection_menu .children {
    padding-bottom: 240px;
}
/*  collection end    */